@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #321E1E;
}

.fondo{
    width: 100%;
    height: 100vh;
    background: url(../img/cafe.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url(../img/Coffee-beans-hot-cup-coffee-bag_2560x1600.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
}
.container .contenido{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container .login{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
    justify-content: right;
    overflow: hidden;
}

.container .logo{
    font-size: 30px;
    
}

.texto h2{
    font-size: 40px;
    line-height: 1;
}

.texto p{
    font-size: 16px;
    margin: 20px 0;
}

.social a i{
    font-size: 22px;
    color: whitesmoke;
    margin-right: 10px;
    transition: .5s ease;
}

.social a:hover i{
    transform: scale(1.2);
}

.login .formulario{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
}

.login .formulario.registrar{
    transform: translateX(430px);
}

.login .formulario.iniciar{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.login.active .formulario.iniciar{
    transform: translateX(430px);
    transition-delay: 0s ;
}

.login .formulario.registrar{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.login.active .formulario.registrar{
    transform: translateX(0);
    transition-delay: .7s ;
}

.formulario h2{
    font-size: 32px;
    text-align: center;
}

.formulario .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.formulario .olvido{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.olvido label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.olvido a{
    color: #e4e4e4;
    text-decoration: none;
}

.olvido a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: chocolate;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.formulario .registrar{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.registrar p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.registrar p a:hover{
    text-decoration: underline;
}
