main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    color: whitesmoke;
    width: 80%;
    margin: 79px auto; 
    background-color: transparent; 
    border: white ;
}

.formulario .contra{
    display: flex;
}

.formulario .text{
    font-size: 24px;
}

.formulario input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.formulario .uCliente{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.pass-btn{
    background: black;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}