nav{
    position: relative;
    margin: 10px auto 0;
    width: 547px;
    height: 50px;
    background: #34495e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

nav a{
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all;
    -webkit-transition: all .5s ease 0s;
}

nav a:nth-child(1){
    width: 100px;
}

nav .start-product,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}

nav a:nth-child(2){
    width: 110px;
}

nav .start-sale,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
}

nav a:nth-child(3){
    width: 75px;
}

nav .start-give,a:nth-child(3):hover~.animation{
    width: 75px;
    left: 210px;
}

nav a:nth-child(4){
    width: 70px;
}

nav .start-perfil,a:nth-child(4):hover~.animation{
    width: 60px;
    left: 290px;
}

nav a:nth-child(5){
    width: 70px;
}

nav .start-history,a:nth-child(5):hover~.animation{
    width: 70px;
    left: 355px;
}

nav a:nth-child(6){
    width: 120px;
}

nav .start-close,a:nth-child(6):hover~.animation{
    width: 120px;
    left: 427px;
    background-color: red;
}